---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import Me from "@assets/Gerardo.png";
import GithubIcon from "@ui/Icons/GithubIcon.astro";
import LinkedinIcon from "@ui/Icons/LinkedinIcon.astro";
import EmailIcon from "@ui/Icons/EmailIcon.astro";
---

<Layout>
  <div
    class="flex flex-col md:flex-row pt-[100px] max-w-[1200px] justify-center items-center mx-auto"
  >
    <div class="flex w-full md:w-[500px] items-center justify-center">
      <Image
        src={Me}
        alt="Gerardo Ontiveros"
        class="bg-blue-400 rounded-full mb-12 md:0"
      />
    </div>

    <div class="flex flex-col">
      <h1 class="font-bold text-[32px] text-white">
        Hola, Soy Gerardo Ontiveros 👋
      </h1>
      <h2 class="font-bold text-[20px] text-blue-400">
        Desarollador Full Stack
      </h2>
      <span class="text-[18px] text-white font-medium">
        Fascinado con la resolución de problemas con experiencia buscando
        soluciones y dirigiendo equipos de desarollo, he participado en
        proyectos que impulsan la experiencia de usuario y eficiencian el
        trabajo empresarial.
      </span>
      <footer
        class="flex flex-row justify-between items-center pr-[30px] pt-[7px]"
      >
        <div class="flex flex-row gap-[13px]">
          <a href="https://github.com/Gerardo-Ontiveros"><GithubIcon /></a>
          <a href="https://www.linkedin.com/in/gerardo-ontiveros-a2a0062aa/"
            ><LinkedinIcon /></a
          >
          <a href="mailto:ingontiverosgera@gmail.com"><EmailIcon /></a>
        </div>
        <a
          href="https://gerardoontiveros.gemlex.dev"
          class="flex flex-row justify-between text-[15px] px-2 py-4 text-white items-center hover:text-blue-400 transition duration-300"
        >
          Si quieres saber más sobre mi, visita mi porfolio
        </a>
      </footer>
    </div>
  </div>
</Layout>
