---
import { Image } from "astro:assets";
import Logo from "@assets/logo-footer.png";
import MercadoPago from "@assets/mercado-pago.png";
import EmailIcon from "@ui/Icons/EmailIcon.astro";
import PhoneIcon from "@ui/Icons/PhoneIcon.astro";
---

<footer
  class="relative w-full flex flex-col justify-center items-center p-4 text-white md:flex-row space-y-10 md:justify-between"
>
  <Image src={Logo} alt="ElectroShop" />
  <ul class="flex flex-col space-y-4">
    <a href="#">Aviso Legal</a>
    <a href="#">Términos y condiciones</a>
    <a href="/contacto">Contacto</a>
  </ul>
  <ul class="flex flex-col space-y-4">
    <span class="flex flex-row gap-2 justify-center items-center">
      <EmailIcon /> ingontiverosgera@gmail.com
    </span>
    <span class="flex flex-row gap-2 items-center">
      <PhoneIcon /> (677) 113-5160
    </span>
  </ul>
  <Image src={MercadoPago} alt="Mercado Pago" width={150} />
</footer>
